/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




.App {
  box-sizing: border-box;
}

h1 {
  font-size: 28px;
  color: #224229;
  font-weight: 700;
  line-height: 40px;
}

.accordion {
	max-height: 0;
	overflow: hidden;
	transition: all 200ms ease-out;
}

.open {
	transition: all 200ms ease-in;
	max-height: unset;
}

.plantName {
	font-size: 18px;
	font-weight: 700;
	color: #224229;
	text-align: left;
	width: 100%;
	margin-bottom: 5px;
}

.plantSpecies {
	font-size: 13px;
	font-style: italic;
	font-weight: 600;
	color: #BCB6A6;
	padding: 5px;
	border-bottom: 3px solid #CBAD91;
	text-align: left;
	width: 50%;
	margin-bottom: 20px;
}